* {

    margin: 0;
    padding: 0;
}

/*--------------------Kenia'sCode------------------------*/

html {
    
    scroll-behavior: smooth;
}

body {

    background-color: rgba(129, 167, 177, 0.2);
    font-family: 'Poppins', sans-serif;

}


nav {

    background: rgba(129, 167, 177, 0);
    box-shadow: 0 8px 32px 0 rgba(131, 143, 155, 0.37);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0px solid rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

.list-box-nav {

    list-style: none;

}

.list-nav-e {

    display: inline-block;
    margin: 30px;
    margin-top: 20px;
}

nav .menu {

    text-decoration: none;
    color: #79AEAD;
    position: relative;
    left: 1040px;
    z-index: 5000;
}

nav .logo {

    position: absolute;
    top: 20px;
    left: 50px;
    width: 80px;

}

.text-banner {

    color: #B4C6DA;
    width: 35%;
    float: left;
    margin-top: 130px;


}

.h1-text-hp {

    font-size: 60px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #B4C6DA;
    margin-left: 70px;
    margin-top: 50px;
    text-shadow: 2px 2px 3px rgba(134, 144, 144, 0.25);

}

.nuuii-hp {

    color: #79AEAD;
}

.button-hp {

    border: 0;
    border-radius: 30px;
    padding: 25px 60px;
    margin-top: 10px;
    cursor: pointer;
    color: #ffffff;
    background-color: #79AEAD;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    font-size: 20px;
    box-shadow: -3px 1px 19px 0px rgba(48, 87, 85, 0.5);

}

.arrows-hp {

    margin-left: 70px;
    margin-top: 30px;

}

.arrows-hp {

    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

.arrows-hp {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}




.landscape-hp {

    float: right;
    height: 800px;
    width: 1340px;
    position: absolute;
    right: 0px;
    top: .3px;

}

.landscape-hp img {

    max-width: 100%;
}

.truck {

    z-index: 1000;
    position: absolute;
    width: 379px;
    height: 278px;
    top: 31rem;
    left: 60rem;
}

.trees {

    z-index: 1000;
    position: absolute;
    width: 92px;
    height: 104px;
    top: 22.5rem;
    left: 51rem;

}

.clouds {

    z-index: 1000;
    position: absolute;
    width: 752px;
    height: 709px;
    top: 5rem;
    left: 40rem;

}


/*-----Olga's Code----*/

.homepage {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

.ovid {
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10rem;
}

.o_text {
    color: #79AEAD;
    font-size: 35px;
    text-shadow: 2px 2px 3px rgba(134, 144, 144, 0.25);
    font-weight: 610;
    text-align: center;
    line-height: 2;
    word-spacing: 7px;
}

.o_vid {
    border-radius: 50px;
}

.o_buttons {
    display: flex;
    flex: row;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
}

.o_button {
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
}


/*----Olga's Code----*/

/*---Ieva's code-----*/

.i_heading {
    color: #79AEAD;
    font-size: 35px;
    text-shadow: 2px 2px 3px rgba(134, 144, 144, 0.25);
    font-weight: 610;
    text-align: center;
    line-height: 2;
    word-spacing: 7px;
    margin-bottom: 40px;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    border-radius: 50px;
    box-shadow: 2px 2px 3px rgba(134, 144, 144, 0.65);
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #555555;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: #ABD3D2;
}

.text {
    color: #555555;
    font-size: 18px;
    padding: 40px 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(171, 211, 210, 0.6);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.dot_style {
    padding-bottom: 70px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



.page_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15rem;
    text-align: center;
    background-color: #ABD3D2;
    padding-top: 15px;
    margin-top: 20px;

}

.footer_logo {
    width: 200px;
    margin-top: 70px;

}


.footer_link {
    color: white;
    text-decoration: none;
}

.footer_card_extra {
    margin-top: 40px;
    color: white;
    margin-right: 50px;
    font-size: 18px;
}





/*---Ieva's code-----*/

/*-------Responsive----------*/

@media screen and (min-width: 1600px) {

    nav .menu {

        text-decoration: none;
        color: #79AEAD;
        position: relative;
        left: 1150px;
    }

    nav .logo {

        position: absolute;
        top: 15px;
        left: 90px;
        width: 90px;

    }

    .truck {

        z-index: 1000;
        position: absolute;
        width: 379px;
        height: 278px;
        top: 31rem;
        left: 70rem;
    }

    .trees {

        z-index: 1000;
        position: absolute;
        width: 92px;
        height: 104px;
        top: 22.7rem;
        left: 60rem;

    }

    .clouds {

        z-index: 1000;
        position: absolute;
        width: 752px;
        height: 709px;
        top: 5rem;
        left: 40rem;

    }

}


@media screen and (min-width: 1700px) {

    nav .menu {

        text-decoration: none;
        color: #79AEAD;
        position: relative;
        left: 1300px;
    }

    nav .logo {

        position: absolute;
        top: 15px;
        left: 90px;
        width: 90px;

    }

    .truck {

        z-index: 1000;
        position: absolute;
        width: 379px;
        height: 278px;
        top: 31rem;
        left: 80rem;
    }

    .trees {

        z-index: 1000;
        position: absolute;
        width: 92px;
        height: 104px;
        top: 22.5rem;
        left: 70rem;

    }

    .clouds {

        z-index: 1000;
        position: absolute;
        width: 752px;
        height: 709px;
        top: 5rem;
        left: 50rem;

    }

}

@media screen and (min-width: 1900px) {

    nav .menu {

        text-decoration: none;
        color: #79AEAD;
        position: relative;
        left: 1500px;
    }

    nav .logo {

        position: absolute;
        top: 15px;
        left: 90px;
        width: 90px;

    }

    .truck {

        z-index: 1000;
        position: absolute;
        width: 379px;
        height: 278px;
        top: 31rem;
        left: 90rem;
    }

    .trees {

        z-index: 1000;
        position: absolute;
        width: 92px;
        height: 104px;
        top: 22.7rem;
        left: 80rem;

    }

    .clouds {

        z-index: 1000;
        position: absolute;
        width: 752px;
        height: 709px;
        top: 5rem;
        left: 62rem;

    }

}

/*-----Intro----*/

.intro-slider {

    background: #79AEAD;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6000;
}

.slider {

    background: #ABD3D2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text-slider {

    color: rgb(233, 233, 233);
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
}

.hide-slider {

    background: #79AEAD;
    overflow: hidden;
}

.hide-slider span {

    transform: translateY(100%);
    display: inline-block;
}

/*--------------------Kenia'sCode------------------------*/

/*--------------------Kelly'sCode------------------------*/

#about {
    
    width: 100%;
    height: 60vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 5px 0px 5px;
    position: relative;
}

.yoga-illustration {

    float: right;
    height: 800px;
    width: 1340px;
    position: absolute;
    right: 1px;
    top: 9px;

}

.benefits-text {

    color: #B4C6DA;
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-left: 200px;
}

.benefits-text h2 {

    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    color: #133B70;
    padding: 60px 0px 0px 0px;
    margin-left: 0px;
    
}

.benefits-text li {

    font-family: 'Poppins', sans-serif;
    color: #448C8C;
    margin-left: 0px;
    font-size: 20px;
    list-style: none;
    
    
}

.competitor li {
    
    list-style-image: url(Media/times-circle.png);

}

.benefits li {
    
    list-style-image: url(Media/check-circle.png);
}



/*--------------------Kelly'sCode------------------------*/


/*----Ieva's code----*/
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/*----Ieva's code----*/


/*----Valentina's code----*/

.flip-cards {
    
    align-items: center;
    padding: 4rem 0rem 7rem 0rem;
}

.heading_benefits {

    text-align: center;
    color: #448c8c;
    font-size: 32px;
    margin-bottom: 20px;

}

.benefits_container1 {
    
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    margin-right: 400px;


}

.benefits_container2 {
    
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 40px;

}

.benefit_box {
    
    background: rgba(172, 211, 210, 0.50);
    box-shadow: 0 8px 32px 0 rgba(90, 114, 114, .7);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    width: 50%;
    margin: 20px;
    align-items: center;


}

.benefit_box.is-flipped {
    
    transform: rotateY(180deg);
}

.textv {
    
    font-size: 32px;
    text-align: center;
    color: #448c8c;

}

.benefitsimage {
    
    width: 100%;
    height: 100%;
    

}

.card__face {
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    top: 80px;
   
    position: relative;


}

.card__face--front {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--back {
    transform: rotateY(180deg);
    align-items: center;
    display: flex;
    justify-content: center;
    top: -110px;
    color: #448c8c;
    position: relative;
